.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buscar-libros-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.books-list {
  list-style: none;
  padding: 0;
}

.book-item {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #494949;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: left;
}

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-title {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}

.favorite-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.favorite-button.favorite {
  color: red;
}

.favorite-button:hover {
  transform: scale(1.2);
}
