.ambientes-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }
  
  .ambientes-container h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .ambientes-container p {
    color: #333;
    margin-bottom: 50px;
  }
  
  .tarjetas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .tarjeta {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .icono {
    font-size: 50px;
    margin-bottom: 15px;
  }
  
  .label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .detalle-ambiente {
    margin-top: 30px;
  }
  
  .ambiente-detail {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .ambiente-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .time-slot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
  }
  
  .time-slot {
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .time-slot.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  .time-slot:hover:not(:disabled) {
    background-color: #0056b3;
    color: #fff;
  }
  
  .volver-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .volver-btn:hover {
    background-color: #0056b3;
  }
  