/* /src/css/Sidebar.css */

.sidebar {
    width: 220px;
    background-color: var(--sidebar-color);
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .sidebar h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar ul li {
    margin: 20px 0;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
  }
  
  .sidebar ul li a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
  }
  
  .sidebar .logout {
    margin-top: auto;
    padding-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  .sidebar .logout button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar .logout button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #e57373;
  }
  